<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion - M-Motors</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Connexion</h1>
    <form action="/connexion" method="post">
        <div>
            <label for="username">Email :</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Se connecter</button>
    </form>
    <p>Pas encore de compte ? <a href="/inscription">S'inscrire</a></p>
</body>
</html>