<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
<h1>Connexion</h1>

<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Email :</label>
        <input type="email" id="username" name="username" required>
    </div>

    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Se connecter</button>
</form>

<hr>

<p>Pas encore de compte ?</p>
<p>
    <a th:href="@{/formulaire-inscription}">S'inscrire</a>
</p>

</body>
</html>